{% extends 'parent_template.html' %}
{% block title %}核心团队_元典集团{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/css/coreteams.css">
  <link rel="stylesheet" href="/css/magnific-popup.min.css" />
{% endblock %}

{% block body %}
  <div class="mainbody">
     <!-- banner -->
    <div class="banner">
      <!-- <img src="/images/core_team_banner.jpg" alt="">  -->
      <div class="title core">
          <div class="banner-img">
            <img src="/images/core_team_banner-txt.png" alt="">
          </div>
          <div class="squares">
            <img src="/images/core_team_banner-dy.png" alt="">
            <img src="/images/core_team_banner-xy.png" alt="">
          </div>
      </div>
    </div>
    <!-- director-general -->
    <div class="director-general">
      <div class="core">
        <div class="director-general-l">
          <h3>吕元枢</h3>
          <p>出生日期：1973年9月</p>
          <p>籍贯：浙江省新昌县</p>
          <p>学历：清华博商MBA</p>     
          <p>职务：元典集团CTB<span> (集团董事长)</span></p>
          <p>深圳电商<span>创业之父</span>、元典集团创始人</p>          
          <div><i></i></div>
          <p>互联网+时代下行业先行者，始终坚持：“责任为先、诚信经营、高效创新、持续发展”的创业理念，致力于将元典科技打造成一条互联网+产业服务链，为创业者、企业带来更多的发展机会。</p>
        </div>
        <div class="director-general-r">
          <img src="/images/leader_dsz.png" alt="">
        </div>
      </div>
    </div>
    <!-- main-leaders -->
    <div class="main-leaders">
      <div class="team-slide core">
        <div class="view">
          <div class="viewclosed"></div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- <div class="swiper-slide">
                  <div class="swiper-slide-c">
                      <div class="swiper-slide-l">
                        <div class="img">
                          <img src="/images/core_team_member4-1.jpg" alt="">
                        </div>
                        <h4>陈思</h4>
                        <i></i>
                        <p>销售副总<br>
                          华南电商名人堂成员<br>
                          资深电商运营专家</p>
                        <p>多年电商行业营销经验，所带领的团队十年来服务了超过一千家网店，帮助无数电商创业人士突破瓶颈，走上成功的电商之路。电商项目实践经验丰富，策划方案落地可执行性强，电商创业圈内优秀操盘手，电商运营顶层思维设计者，行业风向领军人物。</p>
                      </div>
                  </div>
              </div> -->
              <div class="swiper-slide">
                <div class="swiper-slide-c">
                  <div class="swiper-slide-l">
                    <div class="img">
                      <img src="/images/core_team_member3-1.jpg" alt="">
                    </div>
                    <h4>赖艳梅</h4>  
                    <i></i>
                    <p>
                      资深电商运营专家<br>
                      品牌策划专家</p>
                    <p>8年电商行业从业经验，操盘过数十个天猫和淘宝店铺，涉及服装、食品、3C数码、智能家居等众多类目，具有较强的团队管理能力，带领团队运营店铺，实现年销售额突破5000万。理论与实战经验丰富，深刻把握电商发展大势。</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-c">
                      <div class="swiper-slide-l">
                        <div class="img">
                          <img src="/images/core_team_member2-1.jpg" alt="">
                        </div>
                        <h4>钟彩虹</h4>
                        <i></i>
                        <p>市场副总<br>
                          品牌策划专家<br>
                          互联网搜索引擎讲师 </p>
                        <p>毕业于景德镇瓷器大学，曾任百度推广大客户经理。拥有敏锐的市场洞察力、丰富的市场营销管理及实践经验。负责公司市场营销战略规划、执行及监督；协调企业内外部关系；拓展营销推广<span>渠道及挖掘潜在客户等。</span></p>
                      </div>
                      
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-c">
                      <div class="swiper-slide-l">
                        <div class="img">
                          <img src="/images/core_team_member1-1.jpg" alt="">
                        </div>
                        <h4>白鹏</h4>
                        <i></i>
                        <p>董事长特助<br>
						  						人力资源总监<br>
                          百度大学认证白金讲师 <br>
                          互联网搜索引擎专家
                        </p>
                        <p>毕业于中南大学，曾就职于李宁、百度等大型企业。拥有十余年互联网营销经验，具有顶层战略营销思维。负责构建集团人力资源管理体系，选拔人才及建立考核奖励机制，公关与资源拓展。</p>
                      </div>
                      
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-c">
                      <div class="swiper-slide-l">
                        <div class="img">
                          <img src="/images/core_team_member5-1.jpg" alt="">
                        </div>
                        <h4>李粤胡</h4>
                        <i></i>
                        <p>
                          互联网营销专家<br>
                          爆款市场营销专家</p>
                        <p>广东外语外贸大学，市场营销专业。曾负责腾讯大客户销售，连续5个月蝉联销售冠军。对互联网营销有独到见解，拥有丰富的营销策划经验，善于通过产品深度剖析，市场动向与竞品分析，找出最具吸引力的卖点打造万单爆品。目前主导十五款爆品项目的策划。</p>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-c">
                      <div class="swiper-slide-l">
                        <div class="img">
                          <img src="/images/core_team_member6-1.jpg" alt="">
                        </div>
                        <h4>兰露梅</h4>
                        <i></i>
                        <p>
                          金牌创业顾问<br>
                          电商运营专家 </p>
                        <p>毕业于湖南师范大学电子商务专业，8年电商创业指导经验，所负责十余个电商创业项目，其中三个已突破千万销售额。协助数百家电商创业公司梳理营销管理体系、年度经营策略及经营目标拟定、品牌推广方案等，为客户公司提供最专业的电商服务保障。</p>
                      </div>
                      
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-c">
                    <div class="swiper-slide-l">
                      <div class="img">
                        <img src="/images/core_team_member8-1.jpg" alt="">
                      </div>
                      <h4>段从彬</h4>
                      <i></i>
                      <p>
                        电子商务资深创业顾问<br>
                        电子商务资深营销策划师</p>
                      <p>南昌航空大学，市场营销专业，7年电商行业从业经验，辅导8个C店打破销售记录，升级天猫。凭借着丰富电商行业运营经验和优质产品发掘能力，独自建立一套自主完善的品牌营销机制，不断地帮助更多客户店铺实现盈利。</p>
                    </div>
                </div>
            	</div>
              <div class="swiper-slide">
                <div class="swiper-slide-c">
                  <div class="swiper-slide-l">
                    <div class="img">
                      <img src="/images/core_team_member7-1.jpg" alt="">
                    </div>
                    <h4>于阳阳</h4>
                    <i></i>
                    <p>资深互联网营销顾问<br>
                      <br></p>
                    <p>
                      毕业于深圳大学市场营销专业，曾任职于百度深圳地区大客户服务部营销顾问，并多次荣获得客户表彰。善于钻研电商运营和网络营销最前沿的玩法，对电商运营和网络推广有独到的理解和把握，目前已扶持数百家C店在持续盈利中。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="arrow-left"><a href="javascript:;"><i class="iconfont"></i></a></div>
            <div class="arrow-right"><a href="javascript:;"><i class="iconfont"></i></a></div>
            <div class="arrow-close"><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="preview">
          <div class="previewc">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- <div class="swiper-slide active-nav" whichslider='1'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member4.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div> -->
                  <div class="swiper-slide active-nav" whichslider='1'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member3.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div>
                  <div class="swiper-slide" whichslider='2'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member2.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div>
                  <div class="swiper-slide" whichslider='3'>
                      <div class="swiper-slide-c">
                         <img src="/images/core_team_member1.jpg" alt="">
                         <div class="swiperbg"></div>
                         <div class="swiperbg1"></div>
                      </div>
                  </div>
                  <div class="swiper-slide" whichslider='4'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member5.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div>
                  <div class="swiper-slide" whichslider='5'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member6.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div>
                  <div class="swiper-slide" whichslider='6'>
                      <div class="swiper-slide-c">
                          <img src="/images/core_team_member8.jpg" alt="">
                          <div class="swiperbg"></div>
                          <div class="swiperbg1"></div>
                      </div>
                  </div>
                  
                  <div class="swiper-slide" whichslider='7'>
                    <div class="swiper-slide-c">
                        <img src="/images/core_team_member7.jpg" alt="">
                        <div class="swiperbg"></div>
                        <div class="swiperbg1"></div>
                    </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- elift-team -->
    <div class="elift-team">
      <div class="title">
        <h3>精英团队</h3>
        <p>ELITE TEAM</p>
      </div>
      <div class="elift-team-c core">
          <div id="certify">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" >
                    <img src="/images/elift_team_img-2.jpg">
                    <p>创业顾问团队</p>
                  </div>
                  <div class="swiper-slide" style="margin: 0 auto;" >
                    <img src="/images/elift_team_img-1.jpg">
                    <p>元典商学院团队</p>
                  </div>
                  <div class="swiper-slide" >
                    <img src="/images/elift_team_img-3.jpg">
                    <p>新零售服务团队</p>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              </div>
      </div>
    </div>
    <!-- staff-presence -->
    <div class="staff-presence">
      <div class="title">
        <h3>员工风采</h3>
        <p>STAFF PRESENCE</p>
      </div>
      <div class="staff-presence-c">
        <ul class="clearfix">
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-zoom-in' href='/images/staff_presence_img1-1.jpg'>
                <div class='box-1'>
                  <img class='img-responsive' src='/images/staff_presence_img1.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span> 
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg"><div class='magnificPopup__Box'>
              <a data-effect='mfp-3d-flip' href='/images/staff_presence_img2-1.jpg'>
              <div class='box-2'>
                <img class='img-responsive' src="/images/staff_presence_img2.jpg">
                <div class='lupa text-center'>
                  <span><i class="iconfont_fdj"></i></span>
                </div>
              </div>
              </a>
            </div></div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-horizontal-in-out' href='/images/staff_presence_img3-1.jpg'>
                <div class='box-3'>
                  <img class='img-responsive' src='/images/staff_presence_img3.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-vertical-topIn-bottomOut' href='/images/staff_presence_img4-1.jpg'>
                <div class='box-4'>
                  <img class='img-responsive' src='/images/staff_presence_img4.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-zoom-in' href='/images/staff_presence_img5-1.jpg'>
                <div class='box-1'>
                  <img class='img-responsive' src='/images/staff_presence_img5.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg"><div class='magnificPopup__Box'>
              <a data-effect='mfp-3d-flip' href='/images/staff_presence_img6-1.jpg'>
              <div class='box-2'>
                <img class='img-responsive' src="/images/staff_presence_img6.jpg">
                <div class='lupa text-center'>
                  <span><i class="iconfont_fdj"></i></span>
                </div>
              </div>
              </a>
            </div></div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-horizontal-in-out' href='/images/staff_presence_img7-1.jpg'>
                <div class='box-3'>
                  <img class='img-responsive' src='/images/staff_presence_img7.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-vertical-topIn-bottomOut' href='/images/staff_presence_img8-1.jpg'>
                <div class='box-4'>
                  <img class='img-responsive' src='/images/staff_presence_img8.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="staffimg">
              <div class='magnificPopup__Box'>
                <a data-effect='mfp-vertical-topIn-bottomOut' href='/images/staff_presence_img9-1.jpg'>
                <div class='box-4'>
                  <img class='img-responsive' src='/images/staff_presence_img9.jpg'>
                  <div class='lupa text-center'>
                    <span><i class="iconfont_fdj"></i></span>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
  <!-- 底部 -->
{% block htmlfoot %}
<script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/js/coreteams.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript">
  $(function(){
    $('.nav li').eq(3).addClass('nav-active').siblings().removeClass('nav-active')
  }); 
</script>
{% endblock %}
</html>