
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>新闻中心  /  集团动态_元典集团</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/group.css">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/clay.min.js"></script>
    <script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/list.php?tid=11";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>

    <style type="text/css">
        #canvas{
            position: relative;
            width: 938px;
            height: 411px;
            margin: 0 auto;
        }
        .canvas3D {
            position: absolute;
            left: -132px;
            top: 65px;
            width: 738px;
        }
    </style>
</head>
<body>
	<!-- 导航 -->
    <!-- 导航 -->
<div class="head">
    <div class="head-in">
        <div class="logo fl">
            <a href="/"><img src="/images/logo.png" alt=""></a>
      	</div>
        <div class="nav fr">
            <ul class="clearfix">
                <li class="nav-active"><a href="/">首页</a></li>
                <li><a href="/jtjj/">集团简介</a></li>
                <li class="downdrop">
                    <a href="/jtyw/">集团业务</a>
                    <dl>
                        <dd><a href="/jtyw/ydkj/">元典科技</a></dd>
                        <dd><a href="/jtyw/qxkj/">千享科技</a></dd>
                        <dd><a href="/jtyw/whsc/">望海水产</a></dd>
                        <dd><a href="/jtyw/yidian/">壹典摄影</a></dd>
                    </dl>
                </li>
                <li><a href="/hxtd/">核心团队</a></li>
                <li><a href="/hzhb/">合作伙伴</a></li>
                <li><a href="/xwzx/jtdt/">集团动态</a></li>
                <li><a href="/lxwm/">联系我们</a></li>
                <li><a href="/rczp/">人才招聘</a></li>
            </ul>
        </div>
    </div>
</div>
	<!-- 内容主体部分 -->
	<div class="main news">
        <!-- banner -->
        <div class="banner news-banner">
            <div id="canvas"></div>
        </div>

        <h3 class="news-center">新闻中心</h3>
        <h6 class="new-center-en">NEWS CENTER</h6>

        <div class="news-tab in1200">
            <a class="active" href="/xwzx/jtdt/">集团动态</a>|
            <a href="/xwzx/ydyb/">元典月报</a>|
            <a href="/xwzx/hyzx/">行业资讯</a>
        </div>

        <div class="news-list in1200">
            <div class="news-content show">
                <ul class="list">
                    <li>
                        <div class="img">
                           <a href="/xwzx/jtdt/75.html"><img src="/uploads/allimg/190717/1-1ZGG34321355-lp.png" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/23</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/75.html" title="元典集团吕元枢被评选为广东省新昌商会常务副会长">元典集团吕元枢被评选为广东省新昌商会常务副会长</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/75.html">2017年12月24日，在新昌县人大常委会主任求子平，中共新昌县委常委、统战部部长王仲林，新昌县人大常委会副主任、工商联主席王敏慧及广东省有关领导的见证下，广东省浙江新昌商</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/75.html"></a>  
                        </div>
                    </li><li>
                        <div class="img">
                           <a href="/xwzx/jtdt/7.html"><img src="/uploads/allimg/news/yd14-lp.png" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/16</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/7.html" title="元典集团董事长吕元枢：在时代的洪流中，要不断前进">元典集团董事长吕元枢：在时代的洪流中，要不断前进</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/7.html">元典集团初始团队成立于2012年，由董事长吕元枢一手创建。集团业务涵盖创业孵化、营销策划、数字营销、企业管理咨询、技术开发、人才孵化输送、影视传媒、媒体运作等多个领域。</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/7.html"></a>  
                        </div>
                    </li><li>
                        <div class="img">
                           <a href="/xwzx/jtdt/72.html"><img src="/uploads/190706/1-1ZF6160020425.jpg" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/06</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/72.html" title="喜讯丨壹典摄影成功入选广东省摄影行业协会会员单位">喜讯丨壹典摄影成功入选广东省摄影行业协会会员单位</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/72.html">4月16日，广东省摄影行业协会2019年会员联谊会暨第三届一次理事会，在佛山国艺度假酒店成功召开，壹典摄影受邀参加此次大会。会议还邀请了广东省摄影行业协会会长刘惠昌、创会会</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/72.html"></a>  
                        </div>
                    </li><li>
                        <div class="img">
                           <a href="/xwzx/jtdt/71.html"><img src="/uploads/190706/1-1ZF6155R0132.jpg" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/06</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/71.html" title="元典科技受邀参加2019深圳互联网3·15诚信大会">元典科技受邀参加2019深圳互联网3·15诚信大会</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/71.html">2019年3月15日下午，由深圳市市场监督管理局指导，深圳市互联网学会主办，元典科技协办的2019深圳互联网315诚信大会在福田区人民大厦举行。据悉，深圳互联网315大会迄今为止已经连</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/71.html"></a>  
                        </div>
                    </li><li>
                        <div class="img">
                           <a href="/xwzx/jtdt/74.html"><img src="/uploads/190706/1-1ZF6155351947.jpg" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/06</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/74.html" title="元典集团贯彻落实深圳市龙华区新建会基层工会干部履职培训会议精神">元典集团贯彻落实深圳市龙华区新建会基层工会干部履职培训会议精神</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/74.html">2019年6月18日，为提升新成立及换届工会的企业及社区工会干部的业务能力，龙华区总工会于以送培训下街道的形式，在凯龙国际酒店开展了新建会基层工会干部履职培训，各企业工会主</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/74.html"></a>  
                        </div>
                    </li><li>
                        <div class="img">
                           <a href="/xwzx/jtdt/73.html"><img src="/uploads/190706/1-1ZF61552255Y.jpg" /></a> 
                        </div>
                        <div class="time">
                            <h3 class="day">07/06</h3>
                            <h6 class="year">2019</h6>
                        </div>
                        <div class="sep-line"></div>
                        <div class="txt">
                            <h4 class="txt-title"><a href="/xwzx/jtdt/73.html" title="古越龙山到访元典集团，共同探讨企业互联网营销之道">古越龙山到访元典集团，共同探讨企业互联网营销之道</a></h4>
                            <p class="desc"><a href="/xwzx/jtdt/73.html">2019年6月29日，绍兴黄酒集团古越龙山董事长钱肖华等一行人到访元典集团，双方高层领导就5G时代下黄酒如何借势营销开展座谈进行深入探讨，共同探讨互联网营销之道。 本次到访，绍</a></p>
                        </div>
                        <div class="sep-line"></div>
                        <div class="go">
                            <a href="/xwzx/jtdt/73.html"></a>  
                        </div>
                    </li>
                </ul>
                <div class="page">
                    <ul>
                        <li>首页</li>
<li class="thisclass">1</li>
<li><a href='list_11_2.html'>2</a></li>
<li><a href='list_11_3.html'>3</a></li>
<li><a href='list_11_2.html'>下一页</a></li>
<li><a href='list_11_8.html'>末页</a></li>
<li><select name='sldd' style='width:36px' onchange='location.href=this.options[this.selectedIndex].value;'>
<option value='list_11_1.html' selected>1</option>
<option value='list_11_2.html'>2</option>
<option value='list_11_3.html'>3</option>
<option value='list_11_4.html'>4</option>
<option value='list_11_5.html'>5</option>
<option value='list_11_6.html'>6</option>
<option value='list_11_7.html'>7</option>
<option value='list_11_8.html'>8</option>
</select></li>

                    </ul> 
                </div>
            </div>
        </div>   
    </div>

    <!-- 底部 -->
<div class="footer">
	<div class="container">
		<div class="foot-top">
			<div class="foot-nav">
				<ul>
					<li><a href="/jtjj/">集团简介</a><div class="line"></div><div class="up_line"></li>
					<li class="downdrop"><a href="/jtyw/">集团业务</a>
						<dl>
							<dd><a href="/jtyw/ydkj/">元典科技</a></dd>
							<dd><a href="/jtyw/qxkj/">千享科技</a></dd>
							<dd><a href="/jtyw/whsc/">望海水产</a></dd>
							<dd><a href="/jtyw/yidian/">壹典摄影</a></dd>
						</dl>
						<div class="line"></div>
						<div class="up_line"></div>
					</li>
					<li><a href="/hxtd/">核心团队</a><div class="line"></div><div class="up_line"></div></li>
					<li><a href="/hzhb/">合作伙伴</a><div class="line"></div><div class="up_line"></div></li>
					<li><a href="/xwzx/">新闻中心</a><div class="line"></div><div class="up_line"></div></li>
					<li><a href="/lxwm/">联系我们</a><div class="line"></div><div class="up_line"></div></li>
					<li><a href="/rczp/">人才招聘</a><div class="line"></div><div class="up_line"></div></li>
				</ul>
			</div>
			<div class="foot-contact fr">
				<h5>咨询热线</h5>
				<p class="phone">400-0399-386</p>
				<div class="qq"><a href="javascript:;" onclick="qqclick()">立即咨询</a></div>
			</div>
			<div class="foot-top-line fr"></div>
		</div>
		<div class="foot-links">
			<span>友情链接：</span>
			<a href='http://www.szyuandian.com' target='_blank'>元典科技</a> <a href='http://www.1000-x.cn/' target='_blank'>千享科技</a> <a href='http://www.91wanghai.com' target='_blank'>望海水产</a> <a href='https://www.1dsy.net' target='_blank'>壹典摄影</a> 
		</div>
	</div>
	<div class="foot-hr"></div>
	<div class="container">
		<div class="foot-bottom clearfix">
			<div class="address fl">
				地址：深圳市龙华区东环二路8号中执时代广场B座23、24楼
			</div>
			<div class="beian fr">
				Copy Right &copy;深圳市元典科技发展有限公司 | <a href="/data/sitemap.html">网站地图</a> | <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank"> 粤ICP备15102969号-15</a>
			</div>
		</div>
	</div>
</div>
<script>
	function qqclick(){
		window.open("http://wpa.qq.com/msgrd?v=3&uin=4000399386&site=qq&menu=yes");
	}
</script>
<script>
	var _hmt = _hmt || [];

	(function() {

		var hm = document.createElement("script");

		hm.src = "https://hm.baidu.com/hm.js?d808176521e8007b265db24c3dc54edb";

		var s = document.getElementsByTagName("script")[0];

		s.parentNode.insertBefore(hm, s);

	})();
</script>

    <!-- <script>
        $(function(){
            $('.news-tab a').click(function(){
                var i = $(this).index();
                $(this).addClass('active').siblings().removeClass();
                $('.news-list .news-content').eq(i).addClass('show').siblings().removeClass('show');
            })
        })
    </script> -->

    <script type="text/javascript">
    function Earth() {
        var stage = new Clay.Stage(800, 600);
        var world = stage.getWorld();
        var camera = stage.getCamera();

        camera.set(0,0,0);
        camera.setResolution(800, 600);
        camera.setTarget(new Clay.Vector(-100,0,100));

        window.onresize = function() {
            stage.resizeTo(
                800,600
            );
        };

        window.onresize();
        Clay.Collada.load('/inchovertree/earth.xml', function (scene) {
            scene.init(stage);

            var earth = new Clay.Texture('/inchovertree/earthmap1k.jpg', stage);

            var clouds = new Image();
            clouds.src = '/inchovertree/earthclouds1k.png';

            // var dark = new Image();
            // dark.src = 'inchovertree/darkside.png';

            var waiting = setInterval(function(){
                if (earth.complete && clouds.complete ){
                    clearInterval(waiting);
                    play();
                }
            },500);

            function play() {
                var shape = world.getShapes()[0];
                shape.setMaterial(earth);

                var x, y, z, t = Math.PI/4, r = 0, tick = 0.01, radius = 200;
                var ttx = earth.canvas.getContext('2d');
                var base = earth.image;
                var wind = 0;

                stage.addEvent('enterframe', function(){

                    ttx.drawImage(base, 400,0);
                    var pos = (++wind)%1000;

                    ttx.drawImage(clouds, pos, 0);
                    ttx.drawImage(clouds, pos-1000, 0);
                    // ttx.drawImage(dark, 0,0);

                    t += tick;
                    x = -100 + Math.sin(t) * radius;
                    z = 100 + Math.cos(t) * radius;
                    y = Math.cos(t/3) * 50;
                    camera.set(0, 0, 0);
                });

                stage.run();
            }
        });
    }
    window.addEventListener('load', function(){
        new Earth();
    }, false);        
    </script>
    <script type="text/javascript">
  $(function(){
    $('.nav li').eq(5).addClass('nav-active').siblings().removeClass('nav-active')
  })
</script>
  <script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
</body>
</html>
