{% extends 'parent_template.html' %}
{% block title %}集团简介_元典集团{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/group.css">
{% endblock %}

{% block body %}
	<!-- 内容主体部分 -->
	<div class="main gp">
        <!-- banner -->
        <div class="banner gp-banner"></div>

        <!-- 简介 -->
        <div class="introduce in1200 clearfix">
            <div class="introduce-left fl">
                <img src="/static/images/jtjj/gp1.jpg" alt="">
            </div>
            <div class="introduce-right fr clearfix">
                <img class="pic-txt1 fl" src="/static/images/jtjj/gp_txt1.png" />
                <div class="introduce-right-in fr">
                    <h4>元典介绍</h4>
                    <h3>introduce<span class="fr"></span></h3>
                    <div class="line"></div>
                    <p>2012年，吕元枢先生创立元典集团。本着“责任与感恩”之心，元典集团为每一位有需求的客户提供全方位的互联网营销服务。经过6年发展，元典集团确立了全方位、一站式的发展格局，服务项目涵盖个人电商创业孵化、企业营销策划、品牌全网营销、企业管理咨询、技术开发、新媒体运作、商业摄影、水产养殖基地等多个领域，一路走来，元典集团从最初十余人的团队发展到目前拥有现代化办公区域4000余平方米，员工500余人，服务客户50000余名，并受到社会各界高度认可，并先后荣获CCTV全网营销策划行业优选品牌、2016深圳互联网知名品牌等荣誉称号。<img src="/static/images/jtjj/gp_txt2.png" ></p>
                    <div class="company-list">
                        <div class="item yd">
                            <a href="/jtyw/ydkj/">
                                <div class="logo"></div>
                                <h5>元典科技</h5>
                                <h6>电商创业孵化服务</h6>
                            </a>
                        </div>
                        <div class="item-line"></div>
                        <div class="item qx">
                            <a href="/jtyw/qxkj/">
                                <div class="logo"></div>
                                <h5>千享科技</h5>
                                <h6>提升品牌从千享开始</h6>
                            </a>
                        </div>
                        <div class="item-line"></div>
                        <div class="item wh">
                            <a href="/jtyw/whsc/">
                                <div class="logo"></div>
                                <h5>望海水产</h5>
                                <h6>互联网+水产养殖</h6>
                            </a>
                        </div>
                        <div class="item-line"></div>
                        <div class="item yidian">
                            <a href="/jtyw/yidian/">
                                <div class="logo"></div>
                                <h5>壹典摄影</h5>
                                <h6>用镜头创造更高价值</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 发展历程 -->
        <div class="course">
            <h2 class="course-title">发展历程</h2>
            <h5 class="course-min-title">The development course</h5>
            <div class="course-content">
                <div class="start"></div>
                <div class="swiper-container course-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="timeline"></div>
                            <div class="year year1">
                                <div class="txt fl">
                                    <h3 class="time tr">2012</h3>
                                    <h4 class="event tr">建立初始团队</h4>
                                    <p class="desc">创始人吕元枢组建了元典集团的初创团队。</p>
                                </div>
                                <div class="timepoint fr">
                                    <div class="point"></div>
                                </div>
                            </div>
                            <div class="year year2">
                                <div class="timepoint fl"><div class="point"></div></div>
                                <div class="txt fr">
                                    <h3 class="time">2013</h3>
                                    <h4 class="event">成立元典科技</h4>
                                    <p class="desc">深圳市元典科技正式成立，为电商创业者提供一站式电商创业孵化服务。</p>
                                </div>
                            </div>
                            <div class="year year3">
                                <div class="txt fl">
                                    <h3 class="time tr">2014</h3>
                                    <h4 class="event tr">引入精英人才</h4>
                                    <p class="desc">大力引入来自百度、阿里巴巴等互联网平台的高等营销人才，建立企业互联网营销服务团队，为客户提供专业、高效的服务。</p>
                                </div>
                                <div class="timepoint fr"><div class="point"></div></div>
                            </div>
                            <div class="year year4">
                                <div class="timepoint fl"><div class="point"></div></div>
                                <div class="txt fr">
                                    <h3 class="time">2015</h3>
                                    <h4 class="event">飞速发展</h4>
                                    <p class="desc">推出淘宝电商+社交电商的双服务体系。</p>
                                </div>
                            </div>
                            <div class="year year5">
                                <div class="txt fl">
                                    <h3 class="time tr">2016</h3>
                                    <h4 class="event tr">建立元典商学院</h4>
                                    <p class="desc">在营销服务的有力支撑下，着重突出人才培训对于互联网营销的意义，建立商学院专业指导客户开展互联网营销。</p>
                                </div>
                                <div class="timepoint fr"><div class="point"></div></div>
                            </div>
                            <div class="year year6">
                                <div class="timepoint fl"><div class="point"></div></div>
                                <div class="txt fr">
                                    <h3 class="time">2017</h3>
                                    <h4 class="event">千享科技成立</h4>
                                    <p class="desc">企业发展战略需求，成立千享科技，为企业提供互联网营销策划服务，帮助企业转型升级。</p>
                                </div>
                            </div>
                            <div class="year year7">
                                <div class="txt fl">
                                    <h3 class="time tr">2018</h3>
                                    <h4 class="event tr">品牌塑造</h4>
                                    <p class="desc">荣获“搜狗深圳最具影响力的互联网品牌TOP10”,成立望海水产，致力于打造“互联网+新农业”的新时代养殖企业。</p>
                                </div>
                                <div class="timepoint fr"><div class="point"></div></div>
                            </div>
                            <div class="year year8">
                                <div class="timepoint fl"><div class="point"></div></div>
                                <div class="txt fr">
                                    <h3 class="time">2019</h3>
                                    <h4 class="event">业务新发展</h4>
                                    <p class="desc">壹典摄影：一站式影视服务，用镜头创造更高价值.<br> 拼多多： </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div>
                <p class="future">future</p>
            </div>
        </div>

        <!-- 荣誉资质 -->
        <div class="honor">
            <h2 class="honor-title">荣誉资质</h2>
            <h5 class="honor-min-title">honor</h5>
            <div id="honor-swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="pic">
                                <img src="/static/images/jtjj/honor1.jpg" />
                            </div>
                            <p>CCTV中国优选品牌</p>
                        </div>
                        <div class="swiper-slide">
                            <div class="pic">
                                <img src="/static/images/jtjj/honor2.jpg" />
                            </div>
                            <p>2016年互联网知名品牌</p>
                        </div>
                        <div class="swiper-slide">
                            <div class="pic">
                                <img src="/static/images/jtjj/honor3.jpg" />
                            </div>
                            <p>搜狗深圳最具影响力的互联网品牌TOP10</p>
                        </div>
                        <div class="swiper-slide">
                            <div class="pic">
                                <img src="/static/images/jtjj/honor4.jpg" />
                            </div>
                            <p>广东省摄影行业协会</p>
                        </div><!--
                        <div class="swiper-slide">
                            <div class="pic">
                                <img src="/static/images/jtjj/honor1.jpg" />
                            </div>
                            <p>CCTV中国优选品牌</p>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <!-- 企业文化 -->
        <div class="culture">
            <div class="in1200">
                <div class="culture-top">
                    <h2 class="culture-title">企业文化</h2>
                    <h5 class="culture-min-title">culture</h5>
                    <div class="title-line"></div>
                </div>
                <div class="culture-nav">
                    <div class="item">
                        <div class="icon"></div>
                        <div class="txt">
                            <h4>责 任</h4>
                            <h5>responsibility</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"></div>
                        <div class="txt">
                            <h4>合 作</h4>
                            <h5>cooperation </h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"></div>
                        <div class="txt">
                            <h4>价 值</h4>
                            <h5>The value of </h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"></div>
                        <div class="txt">
                            <h4>感 恩</h4>
                            <h5>gratitude</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"></div>
                        <div class="txt">
                            <h4>创 新</h4>
                            <h5>innovation </h5>
                        </div>
                    </div>
                </div>

                <canvas id="canvas" class="point-box" width="1000" height="325"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
    <!-- 底部 -->
{% block bodyfoot %}
    <script>
        var scrollSwiper = new Swiper('.course-swiper', {
                direction: 'vertical',
                slidesPerView: 'auto',
                freeMode: true,
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
                mousewheel: true,
            });

        var honorSwiper  = new Swiper('#honor-swiper .swiper-container', {
                watchSlidesProgress: true,
                slidesPerView: 'auto',
                centeredSlides: true,
                loop: true,
                loopedSlides: 3,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable :true
                },
                on: {
                    progress: function(progress) {
                        for (i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i);
                            var slideProgress = this.slides[i].progress;
                            modify = 1;
                            if (Math.abs(slideProgress) > 1) {
                                modify = (Math.abs(slideProgress) - 1) * 0.2 + 1;
                            }
                            translate = slideProgress * modify * 200 + 'px';
                            scale = 1 - Math.abs(slideProgress) / 6;
                            zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                            slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                            slide.css('zIndex', zIndex);
                            slide.css('opacity', 1);
                            if (Math.abs(slideProgress) > 3) {
                                slide.css('opacity', 0);
                            }
                        }
                    },
                    setTransition: function(transition) {
                        for (var i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i)
                            slide.transition(transition);
                        }
                    }
                }
            })

        var canvas = document.querySelector('.point-box');
        var ctx = canvas.getContext('2d');
        var canvasW = canvas.width;
        var canvasH = canvas.height;

        // 创建构造函数
        function CreatePoint(){
            this.rR = 5 + Math.random() * 30;
            this.pX = 100 + Math.random() * 700;
            this.pY = 100 + Math.random() * 200;
            this.rO = 0.01 + Math.random() * 0.9;

            this.pX++;
            // 绘制点
            this.drawPoint = function(){

                ctx.beginPath();
                ctx.fillStyle="rgba(255,255,255,"+this.rO+")";
                ctx.arc(this.pX,this.pY,this.rR,0,Math.PI*2,true);//绘制圆形
                ctx.fill();
            }
            // 点运动
            this.move = function(){
                if(this.pX >= canvasW / 2 ){
                    this.pX+=0.5;
                }else{
                   this.pX-=0.5;
                }
                this.pY--;
            }
        }

        var circles=[];
        // 创建圆形对象
        function createCircles(){
            var circle=new CreatePoint();//调用构造函数
            circles[circles.length]=circle;//将绘制的图形追加到数组
        }
        // 绘制所有圆形
        function paintCircles(){
            ctx.clearRect(0,0,canvasW,canvasH)
            for(var i=0;i<circles.length;i++){
                circles[i].drawPoint();//遍历数组，将数组内的图形绘制
            }
        }
        // 控制所有圆形运动
        function moveCircles(){
            for(var i=0;i<circles.length;i++){
                circles[i].move();
            }
        }

        var time=0;
        //设置定时器
        setInterval(function(){
            // context.drawImage(myimg,0,0);
            time++;//控制绘制时间
            if(time%20==0){
                createCircles();
            }
            paintCircles();
            moveCircles();
        },50);

    </script>
    <script type="text/javascript">
  $(function(){
    $('.nav li').eq(1).addClass('nav-active').siblings().removeClass('nav-active')
  })
</script>
<script type="text/javascript" src="/static/js/scrolltopcontrol.js"></script>
{% endblock %}

