{% extends 'parent_template.html' %}
{% block title %}集团业务_元典集团{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/group.css">
{% endblock %}

{% block body %}
	<!-- 内容主体部分 -->
	<div class="main">
        <!-- banner -->
        <div class="banner yd-banner"></div>

        <div class="yd-about in1200">
            <div class="about-txt fl">
                <h3>关于<strong>我们</strong><span>ABOUT US</span></h3>
                <div class="line"></div>
                <p><strong>深圳市元典科技发展有限公司</strong>成立于2013年，是一家电商创业服务企业，专业为在电子商务以及社交电商平台开店的个人创业者、小微商家提供电商技术支持与培训服务，公司以“责任”为核心价值观，致力于打造为中国创业者服务的电商创业孵化平台。</p>
                <!-- <div class="in-detail-box">
                    <a href="javascript:;">
                        <div class="in-detail"></div>
                    </a>
                </div> -->
                <div class="link-more"><a href="http://www.szyuandian.com/">了解更多 <span class="arrow">
                            <i class="mask"></i>
                        </span>
                    </a></div>
            </div> 
            <div class="fr">
                <img src="/static/images/jtyw/yd1.jpg" alt="">
            </div>
        </div>
        
        <div class="difficult">
            <h4>元典科技</h4>
            <h5>让电商创业不再是件难事</h5>
            <div class="difficult-box in1200 clearfix">
                <div class="item">
                    <img class="bg-img default" src="/static/images/jtyw/yd3.png" >
                    <img class="bg-img active" src="/static/images/jtyw/yd3_cur.png" >
                    <p>资深电商服务团队</p>
                    <div class="cover"></div>
                </div>
                <div class="item">
                    <img class="bg-img default" src="/static/images/jtyw/yd4.png" >
                    <img class="bg-img active" src="/static/images/jtyw/yd4_cur.png" >
                    <p>十大部门 全面服务</p>
                    <div class="cover"></div>
                </div>
                <div class="item">
                    <img class="bg-img default" src="/static/images/jtyw/yd5.png" >
                    <img class="bg-img active" src="/static/images/jtyw/yd5_cur.png" >
                    <p>培训运营 全程实操指导</p>
                    <div class="cover"></div>
                </div>
                <div class="item">
                    <img class="bg-img default" src="/static/images/jtyw/yd6.png" >
                    <img class="bg-img active" src="/static/images/jtyw/yd6_cur.png" >
                    <p>电商创业者成功圆梦</p>
                    <div class="cover"></div>
                </div>
            </div>
        </div>

        <div class="server">
            <h4>电商创业服务全覆盖</h4>
            <h5>A complete coverage of services</h5>
            <div class="server-content">
                <a class="item item1" data-delay="3" style="width: 106px; height: 106px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 23px 0 15px;" src="/static/images/jtyw/yd7.png" /> 
                    </div>
                    <p>指导开店</p>
                </a>
                <a class="item item2" data-delay="2.5" style="width: 82px; height: 82px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 11px 0 10px;" src="/static/images/jtyw/yd8.png" /> 
                    </div>
                    <p style="font-size: 14px;">设计装修</p>
                </a>
                <a class="item item3" data-delay="4" style="width: 118px; height: 118px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 15px 0 15px;" src="/static/images/jtyw/yd9.png" /> 
                    </div>
                    <p>活动策划</p>
                </a>
                <a class="item item4" data-delay="1" style="width: 118px; height: 118px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 17px 0 12px;" src="/static/images/jtyw/yd10.png" /> 
                    </div>
                    <p>策划运营</p>
                </a>
                <a class="item item5" data-delay="1.6" style="width: 108px; height: 108px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 19px 0 10px;" src="/static/images/jtyw/yd11.png" /> 
                    </div>
                    <p>社交电商</p>
                </a>
                <a class="item item6" data-delay="4" style="width: 100px; height: 100px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 19px 0 11px;" src="/static/images/jtyw/yd12.png" /> 
                    </div>
                    <p>技能培训</p>
                </a>
                <a class="item item7" data-delay="1.6" style="width: 100px; height: 100px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 15px 0 12px;" src="/static/images/jtyw/yd13.png" /> 
                    </div>
                    <p>全网推广</p>
                </a>
                <a class="item item8" data-delay="2.5" style="width: 84px; height: 84px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 16px 0 7px;" src="/static/images/jtyw/yd14.png" /> 
                    </div>
                    <p style="font-size: 14px;">全程指导</p>
                </a>
                <a class="item item9" data-delay="1" style="width: 94px; height: 94px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 14px 0 7px;" src="/static/images/jtyw/yd15.png" /> 
                    </div>
                    <p>系统定制</p>
                </a>
                <a class="item item10" data-delay="3.5" style="width: 122px; height: 122px;" href="javascript:;">
                    <div class="pic">
                       <img style="padding: 25px 0 13px;" src="/static/images/jtyw/yd16.png" /> 
                    </div>
                    <p>货源服务</p>
                </a>
                <div class="iphoneX"></div>
                <div class="mask mask-l"></div>
                <div class="mask mask-r"></div>
            </div>
        </div>

        <div class="dream">
            <div class="txt">
                <h3>已成功助力</h3>
                <h3>50000<sup>+</sup>创业者圆梦</h3>
            </div>
        </div>
	</div>
{% endblock %}

    <!-- 底部 -->
{% block bodyfoot %}
    <script type="text/javascript" src="/static/js/yd.js"></script>
    <script>
        (function () {
            var $li =$('.difficult .item');
            $li.hover(function (ev) {
                move.call(this , ev , true);
            },function (ev) {
                move.call(this , ev , false);
            });
            console.log()
            function move( ev , bool) {
                var top = $(this).offset().top;
                var bottom = top + $(this).height();
                var left = $(this).offset().left;
                var right = left + $(this).width();
                var x = ev.pageX,
                    y = ev.pageY;
                var sT = Math.abs(y - top),
                    sB = Math.abs(y - bottom),
                    sL = Math.abs(x - left),
                    sR = Math.abs(x - right);
                var a = Math.min( sT , sB , sL , sR );
                switch( a ){
                    case sT:
                        if (bool) {
                            $(this).find('.cover').css({
                                left:0,
                                top:'-188px'
                            }).animate({
                                top:0
                            },200);
                        } else {
                            $(this).find('.cover').stop(1,1).animate({
                                top:'-188px'
                            },200);
                        }
                    break;
                    case sB:
                        if ( bool ) {
                            $(this).find('.cover').css({
                                left:0,
                                top:'188px'
                            }).animate({
                                top:0
                            },200);                         
                        } else {
                            $(this).find('.cover').stop(1,1).animate({
                                top:'188px'
                            },200); 
                        }
                    break;
                    case sL:
                        if ( bool ) {
                            $(this).find('.cover').css({
                                left:'-283px',
                                top:0
                            }).animate({
                                left:0
                            },200);                         
                        } else {
                            $(this).find('.cover').stop(1,1).animate({
                                left:'-283px'
                            },200); 
                        }
                    break;
                    case sR:
                        if ( bool ) {
                            $(this).find('.cover').css({
                                left:'283px',
                                top:0
                            }).animate({
                                left:0
                            },200);                         
                        } else {
                            $(this).find('.cover').stop(1,1).animate({
                                left:'283px'
                            },200); 
                        }
                    break;
                }
            };
        })();
    </script>
    <script type="text/javascript">
        $(function(){
            $('.nav li').eq(2).addClass('nav-active').siblings().removeClass('nav-active')
        })
    </script>
<script type="text/javascript" src="/static/js/scrolltopcontrol.js"></script>
{% endblock %}
