{% extends 'parent_template.html' %}
{% block title %}集团业务  /  壹典摄影_元典集团{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/yidian.css">
{% endblock %}


{% block body %}
    <!-- 内容主体部分 -->
    <div class="main yid">
        <!-- banner -->
        <div class="banner yid-banner">
            <div class="container">
                <img src="/static/images/ydsy/yid_banner_b.png" >
            </div>
        </div>

        <!-- desc -->
        <div class="desc">
            <div class="content container">
                <div class="content-left">
                    <img src="/static/images/ydsy/yid_desc_img.jpg" >
                </div>
                <div class="content-right">
                    <div class="in">
                        <h4>壹典摄影</h4>
<!--                         <h6>One typical photography </h6> -->
                        <div class="line"></div>
                        <p>壹典摄影是一家集摄影、影视、设计于一体的影视服务公司，广东省摄影行业协会会员单位。公司拥有一支经验丰富的摄影、策划、设计及剪辑团队l，凭借专业的技术和精良的设备，为企业及品牌商提供产品摄影、美食摄影、全景摄影、宣传片拍摄、活动跟拍、特效视频制作、品牌设计、无人机航拍等服务。同时，可根据客户需求提供图片精修、页面设计及动画制作等增值服务。</p>
                        <p>公司背靠元典集团雄厚的资本实力，拥有1500余平多场景室内摄影棚，占地面积超10000平配套设施完善的室外摄影基地，全套专业摄影、摄像器材，满足各种拍摄需求，为客户提供更具价值的视觉呈现。</p>
                        <div class="swt-btn">
                            <a href="javascript:;">了解详情<img src="/static/images/ydsy/yid_swt_img.png" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- serve -->
        <div class="serve">
            <div class="yid-mode-title">
                <h4>专注视觉呈现 为您提供产品和品牌的高效服务</h4>
                <!-- <h6>Focus on visual presentation </h6> -->
            </div>
            <div class="content container">
                <div class="item">
                   <div class="pic"></div>
                   <h4>摄 影</h4>
                   <div class="line"></div>
                   <p>专注视觉呈现，定格精彩瞬间</p>
                </div>
                <div class="item">
                   <div class="pic"></div>
                   <h4>视 频</h4>
                   <div class="line"></div>
                   <p>声音+画面+文字+色彩，直观、 <br>高效传递您的信息</p>
                </div>
                <div class="item">
                   <div class="pic"></div>
                   <h4>设 计</h4>
                   <div class="line"></div>
                   <p>专业电商设计，给您打造高<br> 转化的网店</p>
                </div>
                <div class="item">
                   <div class="pic"></div>
                   <h4>后 期</h4>
                   <div class="line"></div>
                   <p>精致的后期处理，为你打造 <br>完美艺术品</p>
                </div>
                <div class="item-cur"></div>
            </div>
        </div>

        <!-- team -->
        <div class="team">
            <div class="yid-mode-title">
                <h4>一站式影视服务团队</h4>
                <!-- <h6>"One-stop" work style, film and television services team </h6> -->
            </div>
            <div class="content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/images/ydsy/yid_team_1.jpg" />
                            <div class="text">
                                <h5>摄影团队</h5>
                                <p>重点大学摄影专业，具有丰富的拍摄经验， 时尚的摄影理念，高标准要求自己。</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/images/ydsy/yid_team_2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/images/ydsy/yid_team_3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/images/ydsy/yid_team_4.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>

        <!-- equipment -->
        <div class="equipment">
            <div class="yid-mode-title">
                <h4>百万级专业摄影装备</h4>
                <!-- <h6>Millions of professional photographic equipment </h6> -->
            </div>
            <div class="content container">
                <div class="content-left">
                    <div class="item">
                        <img src="/static/images/ydsy/yid_eq_1.jpg" >
                        <p>大型摄影棚</p>
                    </div>
                     <div class="item">
                        <img src="/static/images/ydsy/yid_eq_2.jpg" >
                        <p>航拍无人机</p>
                    </div>
                     <div class="item">
                        <img src="/static/images/ydsy/yid_eq_3.jpg" >
                        <p>大型摇臂</p>
                    </div>

                </div>
                <div class="content-right">
                    <div class="item">
                        <img src="/static/images/ydsy/yid_eq_4.jpg" >
                        <p>数码摄像机</p>
                    </div>
                     <div class="item">
                        <img src="/static/images/ydsy/yid_eq_5.jpg" >
                        <p>高端摄影器材</p>
                    </div>
                     <div class="item">
                        <img src="/static/images/ydsy/yid_eq_6.jpg" >
                        <p>高端摄影器材</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- case -->
        <div class="case">
            <div class="yid-mode-title container">
                <h4>壹典案例 <span>—— 精于图片 专于视频</span></h4>
                <!-- <h6>Skilled in images in the video</h6> -->
            </div>
            <div class="content container">
                <div class="content-top">
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_1.jpg" >
                        <p>产品精修案例</p>
                        <div class="box">
                            <div class="left"></div>
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_2.jpg" >
                        <p>产品精修案例</p>
                        <div class="box">
                            <div class="left"></div>
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_3.jpg" >
                        <p>产品精修案例</p>
                        <div class="box">
                            <div class="left"></div>
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_4.jpg" >
                        <p>产品精修案例</p>
                        <div class="box">
                            <div class="left"></div>
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_5.jpg" data-http="https://case.91wanghai.com/%E5%A3%B9%E5%85%B8%E6%91%84%E5%BD%B1-%E6%AC%A7%E5%85%8B%E8%AE%A4%E8%AF%81%E8%A7%86%E9%A2%91.mp4">
                        <div class="play"></div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_6.jpg" data-http="https://case.91wanghai.com/%E7%83%A7%E7%83%A4%E8%8B%97%E5%B0%8F%E4%B8%B2.mp4
                            ">
                        <div class="play"></div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_7.jpg" data-http="https://case.91wanghai.com/%E9%BD%90%E5%AE%B6%E5%AE%B6%E8%A3%85.mp4">
                        <div class="play"></div>
                    </div>
                    <div class="item">
                        <img src="/static/images/ydsy/yid_case_8.jpg" data-http="https://case.91wanghai.com/%E5%A3%B9%E5%85%B8%E6%91%84%E5%BD%B1-costone.mp4
                            ">
                        <div class="play"></div>
                    </div>
                </div>

                <div class="alert-video">
                    <div class="video">
                        <video src="" autobuffer autoloop loop controls></video></div>
                    <div class="close"></div>
                </div>
            </div>
        </div>
{% endblock %}
        <!-- 底部 -->
{% block bodyfoot %}

        <script type="text/javascript" src="/static/js/yd.js"></script>
        <script type="text/javascript">
        $(function() {
            $('.nav li').eq(2).addClass('nav-active').siblings().removeClass('nav-active')

            var serveItemW =  $('.serve .item').eq(0).width();
            $('.serve .item').hover(function(){
                var i = $(this).index();
                $('.serve .item').eq(i).addClass('on').siblings().removeClass('on');
                $('.serve .item-cur').show();
                $('.serve .item-cur').stop().animate({
                    left: (serveItemW + 30) * i + 'px'
                },200)
            },function(){
                $('.serve .item').removeClass('on');
            })

            $('.serve .content').mouseleave(function(){
                $('.serve .item-cur').hide();
            })

            swiper = new Swiper('.swiper-container', {
                watchSlidesProgress: true,
                slidesPerView: 'auto',
                centeredSlides: true,
                loop: true,
                loopedSlides: 4,
                autoplay: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                on: {
                    progress: function(progress) {
                        for (i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i);
                            var slideProgress = this.slides[i].progress;
                            modify = 1;
                            if (Math.abs(slideProgress) > 1) {
                                modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                            }
                            translate = slideProgress * modify * 600 + 'px';
                            scale = 1 - Math.abs(slideProgress) / 10;
                            zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                            slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                            slide.css('zIndex', zIndex);
                            slide.css('opacity', 1);
                            if (Math.abs(slideProgress) > 3) {
                                slide.css('opacity', 0);
                            }
                        }
                    },
                    setTransition: function(transition) {
                        for (var i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i)
                            slide.transition(transition);
                        }
                    }
                }
            })

            $('.case .content-bottom .item').click(function () {
                var src = $(this).find('img').data('http');
                $('.alert-video').show();
                document.querySelector('.alert-video video').src = src;
                document.querySelector('.alert-video video').play();
            })

            $('.alert-video .close').click(function(){
                $('.alert-video').hide();
                document.querySelector('.alert-video video').src = '';
                document.querySelector('.alert-video video').pause();
            })
        })
        </script>
    </div>
{% endblock %}
